@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer
@model IEnumerable<Proyectos>

@{
    ViewData["Title"] = @localizer["TituloProyectos"];
}

<h1>@localizer["TituloPro1"]<span>@localizer["TituloPro2"]</span>@localizer["TituloPro3"]</h1>

<section class="linea-seccion">

    <div class="linea-items mb-3">

        <div class="linea-item">
            <div class="linea-punto"></div>
            <div class="linea-contenido">
                <div class="linea-fecha justify-content-md-start">Diciembre 2022</div>
                <a class="btn TecnologiasJS disable">JavaScript</a>
                <a class="btn TecnologiasReact disable">React</a>

                <h3>Pronóstico del Tiempo</h3>
                <p>
                    Aplicación que te permite realizar una busqueda a la vez por ciudad del clima en tiempo real y muestra
                    predicciones para las proximas horas.
                </p>
                <hr />
                <a class="btn-sm btn-proyectos" style="margin-right:1.2rem;" target="_blank" href="https://github.com/Rck23/Clima_App_React" data-toggle="tooltip" data-placement="top" title="GitHub">

                    <i class="bi-github" role="img" aria-label="GitHub"></i> Repositorio
                </a>
            </div>
        </div>

        <div class="linea-item">
            <div class="linea-punto"></div>
            <div class="linea-contenido">
                <div class="linea-fecha justify-content-md-start">Diciembre 2022</div>
                <a class="btn TecnologiasNET disable">C#</a>
                <a class="btn TecnologiasNET disable">.Net 6</a>

                <h3>Mi portafolio</h3>
                <p>
                    Visita el código de este portafolio.
                </p>
                <hr />
                <a class="btn-sm btn-proyectos" style="margin-right:1.2rem;" target="_blank" href="https://github.com/Rck23/Portafolio" data-toggle="tooltip" data-placement="top" title="GitHub">

                    <i class="bi-github" role="img" aria-label="GitHub"></i> Repositorio
                </a>
            </div>
        </div>

        <div class="linea-item mb-3">
            <div class="linea-punto"></div>
            <div class="linea-contenido">
                <div class="linea-fecha justify-content-md-start">Enero 2023</div>
                <a class="btn TecnologiasNET disable">C#</a>
                <a class="btn TecnologiasNET disable">.Net 6</a>

                <h3>Manejo de presupuesto</h3>
                <p>
                    Esta aplicación te permite manejar tus finanzas por día, mes, año y te muestra
                    los diferentes gastos e ingresos, ademas cuentas con categorias, transacciones, reportes, cuentas y tipos de cuentas.
                </p>
                <hr />
                <a class="btn-sm btn-proyectos" style="margin-right:1.2rem;" target="_blank" href="https://github.com/Rck23/Manejo-Presupuesto" data-toggle="tooltip" data-placement="top" title="GitHub">

                    <i class="bi-github" role="img" aria-label="GitHub"></i> Repositorio
                </a>

                <!--
                     <a class="btn-sm btn-proyectos" style="margin-right:1.2rem;" target="_blank" href="https://github.com/Rck23" data-toggle="tooltip" data-placement="top" title="GitHub">

                      <i class="bi bi-globe-americas" role="img" aria-label="Sitio Web"></i> Sitio Web
                  </a>
                -->
            </div>
        </div>

        <div class="linea-item mb-3">
            <div class="linea-punto"></div>
            <div class="linea-contenido">
                <div class="linea-fecha justify-content-md-start">Febrero 2023</div>
                <a class="btn TecnologiasNET disable">C#</a>
                <a class="btn TecnologiasNET disable">.Net 7</a>

                <h3>Tareas MVC</h3>
                <p>
                    Esta aplicación te permite crear, completar, modificar & eliminar tareas o cualquier cosa
                    tengas pendiente (como una lista To Do), las tareas se muestran por usuario y a cada tarea
                    se le puede asignar subtareas e imagenes (guardadas de forma local).
                </p>
                <hr />
                <a class="btn-sm btn-proyectos" style="margin-right:1.2rem;" target="_blank" href="https://github.com/Rck23/TareasMVC" data-toggle="tooltip" data-placement="top" title="GitHub">

                    <i class="bi-github" role="img" aria-label="GitHub"></i> Repositorio
                </a>

                <!--
                     <a class="btn-sm btn-proyectos" style="margin-right:1.2rem;" target="_blank" href="https://github.com/Rck23" data-toggle="tooltip" data-placement="top" title="GitHub">

                      <i class="bi bi-globe-americas" role="img" aria-label="Sitio Web"></i> Sitio Web
                  </a>
                -->
            </div>
        </div>

        <div class="linea-item mb-3">
            <div class="linea-punto"></div>
            <div class="linea-contenido">
                <div class="linea-fecha justify-content-md-start">Abril 2023</div>
                <a class="btn TecnologiasPHP disable">Php</a>
                <a class="btn TecnologiasLaravel disable">Laravel 8</a>

                <h3>
                    Devstagram
                    <p>(en progreso...)</p>
                </h3>
                <p>
                    Copia de la aplicación Instagram para fines educativos de mi universidad, manejando librerias
                    como "vite" & "dropzone".
                </p>
                <hr />
                <a class="btn-sm btn-proyectos" style="margin-right:1.2rem;" target="_blank" href="https://github.com/Rck23/Proyecto_Devstragram" data-toggle="tooltip" data-placement="top" title="GitHub">

                    <i class="bi-github" role="img" aria-label="GitHub"></i> Repositorio
                </a>
            </div>
        </div>

        <div class="linea-item mb-3">
            <div class="linea-punto"></div>
            <div class="linea-contenido">
                <div class="linea-fecha justify-content-md-start">Abril 2023</div>
                <a class="btn TecnologiasNET disable">C#</a>
                <a class="btn TecnologiasNET disable">.Net 6</a>

                <h3>Tienda API
                    <p>(en progreso...)</p>
                </h3>
                <p>
                    API destinada a realizar todas las acciones de una tienda online, contiene una Web Api 
                    y dos librerias (Core e Infrastructure) para su correcto funcionamiento.
                </p>
                <hr />
                <a class="btn-sm btn-proyectos" style="margin-right:1.2rem;" target="_blank" href="https://github.com/Rck23/Tienda_API" data-toggle="tooltip" data-placement="top" title="GitHub">

                    <i class="bi-github" role="img" aria-label="GitHub"></i> Repositorio
                </a>
            </div>
        </div>

    </div>
</section>

