@{
    ViewData["Title"] = "Sobre Mi";
}

<div class="text-justify">
    <div class="container-body">
        <h1><span>S</span>obre Mi</h1>

        <section class="about">
            <div class="main">
                <div class="about-text">

                    <h5>Estudiante <span>& Desarrollador</span></h5>
                    <p>
                        ¡Hey! Soy Ulises Martínez una persona autodidacta en tiempos libres, me apasiona la tecnología
                        & el desarrollo de aplicaciones & páginas web, actualmente soy estudiante de Ingeniería en Desarrollo y Gestión de Software
                        a tiempo completo. Actualmente me desempeño como desarrollador backend sin perder de vista el frontend.
                    </p>
                    <p>
                        En mi aventura en el mundo del desarrollo, me he involucrado en el desarrollo de varios proyectos,
                        proponiéndome retos, los cuales me enseñaron a corregir mis errores al desarrollar un Sitio o Aplicación.
                        Puedes ver el trabajo que realizo en la sección de <a class="Enlace_proyect" asp-controller="Home" asp-action="Proyectos"><span>Proyectos</span></a>.
                    </p>

                    <h5>{Ha<span>b</span>ilidades}</h5>

                    <p>
                        Estas son mis tecnologías favoritas:
                    </p>

                    <div class="Service">

                        <img src="/img/CSS3.png" class="img-fluid Habilidades" alt="Responsive image">
                        <img src="/img/HTML5.png" class="img-fluid Habilidades" alt="Responsive image">
                        <img src="/img/Javascript.png" class="img-fluid Habilidades" alt="Responsive image">

                        <img src="/img/Angular_full_color_logo.svg.png" class="img-fluid Habilidades" alt="Responsive image">
                        <img src="/img/ionic logo blue.svg" class="img-fluid Habilidades" alt="Responsive image">
                        <img src="/img/c.svg" class="img-fluid Habilidades" alt="Responsive image">
                        <img src="/img/NET_Core_Logo.svg.png" class="img-fluid Habilidades" alt="Responsive image">
                        <img src="/img/sql-server.svg" class="img-fluid Habilidades " alt="Responsive image">
                        <img src="/img/mongodb-icon-1.svg" class="img-fluid Habilidades" alt="Responsive image">
                    </div>

                    <h5>{Cont<span>a</span>cto}</h5>

                    <p>
                        puedes contactarme por los siguientes medios:
                    </p>

                    <div class="contacto">
                        <div class="contacto">
                            <form>
                                <a class="btn" style="margin-right:1.2rem;" target="_blank" href="https://github.com/Rck23" data-toggle="tooltip" data-placement="top" title="GitHub">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <i class="bi-github" role="img" aria-label="GitHub"></i> GitHub
                                </a>
      
                                <a class="btn" target="_blank" href="https://www.linkedin.com/in/ulises-mart%C3%ADnez-olivares-09276b258/" data-toggle="tooltip" data-placement="top" title="Linkedin">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <i class="bi-linkedin" role="img" aria-label="Linkedin"></i> Linkedin
                                </a>

                                <a class="btn" target="_blank" href="https://www.instagram.com/ulises_fc/" data-toggle="tooltip" data-placement="top" title="Linkedin">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <i class="bi bi-instagram" role="img" aria-label="Instagram"></i> Linkedin
                                </a>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>

</div>


